<html>
 <center><br><br>
   <h2> Welcome {{hdata.helper_name}}</h2>
<br>
<br>

<a href="{% url 'Helpers:MyProfile' %}">My Profile</a><br>
<a href="{% url 'Helpers:EditProfile' %}">Edit Profile</a><br>
<a href="{% url 'Helpers:ChangePassword' %}">Change Password</a><br><br>
<a href="{% url 'Helpers:search' %}">Search</a><br><br>
<a href="{% url 'Helpers:PostProduct' %}">Post Items</a><br>
<a href="{% url 'Helpers:viewrequest' %}">View requests</a><br>
<a href="{% url 'Helpers:booking' %}">Bookings</a><br>




</center>
</html>