<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        {% csrf_token %}
     
        <table border="1" align="center" cellpadding="12">
            <tr>
                
                <td colspan="2"><img src="{{hdata.helper_photo.url}}" width="150" height="150"></td>
            </tr>
         
            <tr>
                <th>name</th>
                <td>{{hdata.helper_name}}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{hdata.helper_email}}</td>
            </tr>
            <tr>
                <td>Contact</td>
                <td>{{hdata.helper_contact}}</td>
            </tr>
            <tr>
                <td>Place</td>
                <td>{{hdata.helper_place.place_name}}</td>
            </tr>
            
            <tr>
                <td>password</td>
                <td>{{hdata.helper_password}}</td>
            </tr>
          
            </tr>
        </table>


    </form>
</body>
</html>