{% extends 'Helpers/header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookings List</title>

</head>
<body>
    <div class="container">
        <h3>Rejected Booking List</h3>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table border="1" cellpadding="10">
                <tr>
                    <td>SI NO</td>
                    <td>Image</td>
                    <td>Content</td>
                    <td>Name</td>
                    <td>Address</td>
                    <td>Contact</td>
                    <td>Name of Organization</td>
                    <td>Action</td>
                </tr>
                {% for i in odata %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><img src="{{ i.post_id.post_image.url }}" alt="Image" width="200" height="200"></td>
                    <td>{{ i.post_id.post_content }}</td>
                    <td>{{ i.book_name }}</td>
                    <td>{{ i.book_address }}</td>
                    <td>{{ i.book_contact }}</td>
                    <td>{{ i.organization_id.org_name }}</td>
                    <td class="action-links">
                        <a href="{% url 'Helpers:acceptbooking' i.id %}">Accept</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </form>
    </div>
</body>
</html>
{% endblock content %}
