{% extends 'Admin/Header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f5f5f5; margin: 0; padding: 0;">

    <center>
        <h2 style="color: #333;">Organization requests</h2><br>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table style="border-collapse: collapse; width: 50%; max-width: 400px; margin: 0 auto; border: 1px solid #ddd;">
                <tr>
                    <th style="padding: 10px; text-align: left; border: 1px solid #ddd; background-color: #f2f2f2;">SI No</th>
                    <th style="padding: 10px; text-align: left; border: 1px solid #ddd; background-color: #f2f2f2;">Price</th>
                    <th style="padding: 10px; text-align: left; border: 1px solid #ddd; background-color: #f2f2f2;">Content</th>
                    <th style="padding: 80px; text-align: left; border: 1px solid #ddd; background-color: #f2f2f2;">Proof</th>
                    <th style="padding: 10px; text-align: left; border: 1px solid #ddd; background-color: #f2f2f2;">Action</th>
                </tr>
                {% for i in rqst1 %}
                <tr>
                    <td style="padding: 10px; text-align: left; border: 1px solid #ddd;">{{forloop.counter}}</td>
                    <td style="padding: 10px; text-align: left; border: 1px solid #ddd;">{{i.req_price}}</td>
                    <td style="padding: 10px; text-align: left; border: 1px solid #ddd;">{{i.req_content}}</td>
                    <td style="padding: 10px; text-align: left; border: 1px solid #ddd;"><img src="{{ i.req_proof.url }}" alt="Image" style="width: 200px; height: 200px; object-fit: cover;"></td>               
                    <td style="padding: 10px; text-align: left; border: 1px solid #ddd;">
                        <a href="{% url 'webbasic:rejectreq' i.id %}" style="text-decoration: none; color: #1fafa6; font-weight: bold;">Reject</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </form>
    </center>

</body>
</html>
{%endblock content%}
