<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h2>Organization requests</h2><br>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table border="1" cellpadding="10">
        <tr>
            <td>SI No</td>
            <td>Price</td>
            <td>Content</td>
            <td>Proof</td>
            <td>Action</td>
        </tr>
        <tr>
            {% for i in rqst1 %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.req_price}}</td>
                <td>{{i.req_content}}</td>
                <td><img src="{{ i.req_proof.url }}" alt="Image" width="200" height="200"></td>               
                 <td>
                    <a href="{% url 'webbasic:acceptrequest' i.id %}">Accept</a>
                   
                </td>
            
    
                
            </tr>
            {% endfor %}
        </tr>
    </table>
</form>
</center>
</body>
</html>