{% extends 'Admin/Header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f5f5f5; margin: 0; padding: 0;">
    <center>
        <h3 style="color: #333;">Type Lists</h3>
        <form action="" method="post">
            {% csrf_token %}
            <table style="border-collapse: collapse; width: 50%; max-width: 400px; margin: 0 auto;">
                <tr>
                    <td style="padding: 10px;">Type</td>
                    <td style="padding: 10px;"><input type="text" name="type" value="{{typ_data.type_name}}"></td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="submit" value="Add" style="padding: 5px 10px; background-color: #1fafa6; color: #fff; border: none; cursor: pointer;">
                    </td>
                </tr>
            </table>
        </form>
        <br>
        <table border="1" style="border-collapse: collapse; width: 50%; max-width: 400px;">
            <tr>
                <td style="padding: 10px;">SI No</td>
                <td style="padding: 10px;">Types</td>
                <td style="padding: 10px;">Action</td>
            </tr>
            {% for i in typ %}
            <tr>
                <td style="padding: 10px;">{{forloop.counter}}</td>
                <td style="padding: 10px;">{{i.type_name}}</td>
                <td style="padding: 10px;">
                    <a href="{% url 'webbasic:deletetype' i.id %}" style="text-decoration: none; color: #1fafa6; font-weight: bold;">Delete</a>
                    <a href="{% url 'webbasic:edittype' i.id %}" style="text-decoration: none; color: #1fafa6; font-weight: bold;">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>
{% endblock content %}
